# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
# find src/{engine,game,server,tool} -regex '.*\.\(cpp\|h\|hpp\|cc\|cxx\)' -exec clang-format -style=file -i {} --verbose \;
BasedOnStyle: Microsoft
UseTab: Never
PointerAlignment: Middle
ReferenceAlignment: Middle
ReflowComments: false
SortIncludes: false
SortUsingDeclarations: false
AlignTrailingComments: true
AlignConsecutiveMacros: true
AlignConsecutiveDeclarations: true
AlignArrayOfStructures: Left
BreakConstructorInitializers: BeforeComma
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
KeepEmptyLinesAtTheStartOfBlocks: false

# Feature from LLVM-15.
# Use src/vendor/opt/bin/clang-format.exe, which is from LLVM-16.
# You can also set in Visual Studio settings:
# Tools -> Options -> Search clang-format:
#   1. Tick: Use custom clang-format
#   2. Browse path to src/vendor/opt/bin/clang-format.exe
InsertBraces: true
