[submodule "src/assets"]
	path = src/assets
	url = ../ko-assets
	shallow = true
	depth = 1
[submodule "src/db"]
	path = src/db
	url = ../ko-db
	shallow = true
	depth = 1
[submodule "src/vendor"]
	path = src/vendor
	url = ../ko-vendor
	shallow = true
	depth = 1
